<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFreelancerLabel" jhiTranslate="diDomApp.freelancer.home.createOrEditLabel">Create or edit a Freelancer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!freelancer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="freelancer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="diDomApp.freelancer.overiew" for="field_overiew">Overiew</label>
            <input type="text" class="form-control" name="overiew" id="field_overiew"
                [(ngModel)]="freelancer.overiew"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="diDomApp.freelancer.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="freelancer.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === freelancer.user?.id ? freelancer.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="diDomApp.freelancer.address" for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="freelancer.address" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === freelancer.address?.id ? freelancer.address : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="diDomApp.freelancer.skill" for="field_skill">Skill</label>
            <select class="form-control" id="field_skill" multiple name="skill" [(ngModel)]="freelancer.skills">
                <option [ngValue]="getSelected(freelancer.skills, skillOption)" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.skillName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
